* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-align: center;
}

:root {
    
    background: #ccc5b9;
    /*
    background: rgb(8,8,8);
    background: linear-gradient(180deg, rgba(8,8,8,1) 0%, rgba(0,0,0,1) 3.5%, #ccc5b9 3.5%);
    */

    --space-amt: 6000px;
}

.heading {
    
    color: #fffcf2;
    padding-top: 45px;
    font-family: "Bebas Neue";
    display: block;
    background-color: rgb(8, 8, 8);
    outline-style: solid;
    outline-color: rgb(8, 8, 8);
    outline-width: 2.1vw;   
}

.heading h1 {
    font-size: 10vw;
}

.heading p {
    font-size: 5vw;
}

.get_whitespace { margin-top: var(--space-amt); }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homebuttons-text {
    color: #252422;

    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    

    transition: 0.1s;
    font-family: "Bebas Neue";
    
    font-weight:bold;
    text-decoration-line: none;


    width: 100%;
    @media only screen and (max-width: 768px) {
        [class*="homebuttons-bg"] {
            width: 100%;
        }
    }
}

ul > li {
    display: inline-block;
    margin: 10px;
}

@keyframes homebuttons-text-animation {
    from {
        top: 10px;
    }
    to {
        top: 20px;
    }
}

.homebuttons-text:hover {
    color:#ccc5b9;
    top: 10px;
    animation-name: homebuthomebuttons-text-animation;
    animation-duration: 1s;
}

.homebuttons-bg {
    background: #a0998c;
    color: #252425;


    font-size: 40px;
    
    float: left;
    overflow: hidden;

    cursor:pointer;

    border: 2px groove #252422;
    border-radius: 12px;


    transition: 0.1s;

    width: 100%;
    @media only screen and (max-width: 768px) {
        [class*="homebuttons-bg"] {
            width: 100%;
        }
    }
}


.homebuttons-bg:hover {
    background-color: #252422;
    color:#ccc5b9;
    text-align: center;
    
}



.homebuttons-bg:active {
    position:relative;
    text-align: center;
}

.my-pic {
    max-width: max-content;
    max-height: max-content;
}


.portfoliosec {
    font-size: 20px;
}

.certificationssec {

}

.journeysec {

}