@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Passions+Conflict&display=swap');

body {
    width: 100%;
    height: 100%;
}


#greener {
    color: rgb(0, 255, 76);
}

header {
    font-family: 'Lato', sans-serif;

    #greenholt-brand { 
        font-size: 160%;
        
    }

    #menubar {
        font-size: 120%;
    }
}

#hero-text {
    span {
        font-family: 'Lobster', cursive;
    }
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}